.inner_container {
	background-color: #ecf0f1;
	margin: 2em 6em 1em 6em;
}

article {
	width: 10em;
	margin: auto;
	text-align: center;
	padding: 2em;
}

p {
	text-align: center;

}

h2,h3 {
	text-align: center;
	margin-bottom: 0em;
	margin: auto;
	display: inline;
}

input, textarea {
	padding-left: .25em;
}

button {
	border: .125em solid #AAA;
	color: #333;
	border-radius: .25em;

	cursor: pointer;
}
