html, body, h1, h2, h3, h4, a {
	margin: 0em;
	padding: 0em;
	text-decoration: none;
	min-width: 360px;
	color: #20232c;
	font-size: 12px;
	font-family: 'Open Sans', arial;
}

#title {
	font-size: 4em;
}

h2 {
	font-size: 1.5em;
}
	#subtitle {
		background-color: #20232c;
		color: #ffffff;
	}

ul {
	list-style: none;
}

body {
	background-image: url(../img/pattern.png);
	background-repeat: repeat;
}

	.article_nav {
		text-align: center;
		margin: 0em;
		margin-left: 3em;
		padding: 0em;
		padding-top: .5em;
		padding-bottom: .5em;
	}

	.article_nav li {
		display: inline-block;
		margin-left: 1em;
		margin-right: 1em;
	}

	.article_nav li a {
		color: #d95783;
	}

	.article_nav li a:hover {
		color: #ed779e;
	}

#footnote {
	margin-left: .2em;
}

#footnote div {
	height: .25em;
	display: inline-block;
	margin-bottom: -.4em;
}

#third {
	background-color: #E9E075;
	margin-right: -.5em;
	width: 33%;
}

#second {
	background-color: #E55C8A;
	margin-right: -.5em;
	width: 33%;
}

#first {
	background-color: #3698B2;
	width: 34%;
}

footer {
	border-top: .20em solid #2f333f;
	background-color: #20232c;
	text-align: right;
	padding-top: 1em;
	padding-bottom: 1em;
}
footer img {
	margin-right: 1.5em;
}

@media all and (max-width: 700px) {
	#title {
		font-size: 3em;
	}

	nav {
		position: fixed;
		width: 100%;
		background-color: rgba(255,255,255,.925);
		-webkit-box-shadow: 0 4px 6px -6px #20232c;
	 	-moz-box-shadow: 0 4px 6px -6px #20232c;
	    box-shadow: 0 4px 6px -6px #20232c;

	}
	
	nav h1, nav h2, nav ul {
		text-align: center;
	}

	nav ul {
		margin: 0em;
		padding: 0em;
		padding-top: .5em;
		padding-bottom: .5em;
	}
	nav ul li{
		display: inline-block;
		margin-right: 2em;
	}

	nav ul li a {
		font-size: 1.2em;
		color: #4798AD;
	}
	.nav_desk {
		display: none;
	}

	#main {
	padding-top: 9em;
	margin-left: 5%;
	margin-right: 5%;
	}

	.local {
	position: relative;
	width: 0em;
	visibility: hidden;
	top: -7.5em;
	}

	#main h1 {
	font-size: 2.5em;
	}

	#projects h2 {
		margin: auto;
		text-align: center;
		background-color: #20232c;
		color: #ffffff;
		width: 20em;
	}

	#projects img {
		display: block;
		margin: auto;
	}

}

@media all and (min-width: 701px)	{
	body {
	}
}
