html, body, a {
	margin: 0em;
	padding: 0em;
	text-decoration: none;
	color: #20232c;
}

body {
	background-image: url(../img/pattern.png);
	background-repeat: repeat;
}

ul {
	list-style: none;
}	

footer {
	border-top: .3em solid #2f333f;
	background-color: #20232c;
}
