body {
	max-width: 1200px;
	margin: auto;
}

.inner_container {
	width: 100%;
	content:"";
    display:table;
	clear: both;
}
article {
	-webkit-box-shadow: 0 8px 6px -6px #cedbdb;
	-moz-box-shadow: 0 8px 6px -6px #cedbdb;
	box-shadow: 0 8px 6px -6px #cedbdb;
	display: inline-block;
	margin: auto;
	width: 46%;
	clear: both;
	margin-left: 2%;
	margin-bottom: 2%;
	background-color: #ecf0f1;
	color: #1F1F2F;
}

h2 {
	margin-bottom: 10px;
	display: inline-block;
}

.link {
	margin-left: 2%;
	color: #c76c5c;
	text-align: right;
}

.description {
	display: block;
	text-align: left;
	width: 80%;
	vertical-align: top;
	margin: auto;
	margin-bottom: 16px;
}

img {
	display: block;
	text-align: center;
	vertical-align: middle;
	margin: auto;
	padding: 0px;
}
