html, body, h1, h2, h3, h4, a {
	margin: 0em;
	padding: 0em;
	text-decoration: none;
	color: #20232c;
	font-family: 'Open Sans', arial;
}

html {
	font-size: 12px;
}

#title {
	font-size: 4em;
}

h2 {
	font-size: 1.5em;
}
	#subtitle {
		background-color: #20232c;
		color: #ffffff;
	}

ul {
	list-style: none;
}

body {
	background-color: #ffffff;
}
	.tab {
		margin-left: 1em;
	}

	.article_nav {
		text-align: center;
		margin: 0em;
		padding: 0em;
		padding-top: .5em;
		padding-bottom: .5em;
	}

	.article_nav li {
		display: inline-block;
	}

	.article_nav li a {
		padding: .5em 1em .5em 1em;
		color: #d95783;
	}

	.article_nav li a:hover {
		color: #ed779e;
	}

#projects img {
	display: block;
	margin: auto;
}


#main h1 {
font-size: 2.5em;
}

#footnote {
	margin-left: .2em;
}

#footnote div {
	height: .25em;
	display: inline-block;
	margin-bottom: -.4em;
}

#third {
	background-color: #E9E075;
	margin-right: -.5em;
	width: 33%;
}

#second {
	background-color: #E55C8A;
	margin-right: -.5em;
	width: 33%;
}

#first {
	background-color: #3698B2;
	width: 34%;
}

footer {
	border-top: .20em solid #2f333f;
	background-color: #20232c;
	color: #ffffff;
	padding-top: 1em;
	height: 2em;
	padding-bottom: 1em;
}

footer img {
	margin-right: 1.5em;
}

#date {
	position: relative;
	top: .45em;
	margin-left: 1em;
}

#icons {
	float: right;
}


@media all and (max-width: 670px) {
	#title {
		font-size: 3em;
	}

	nav {
		position: fixed;
		width: 100%;
		background-color: rgba(255,255,255,.925);
		-webkit-box-shadow: 0 4px 6px -6px #20232c;
	 	-moz-box-shadow: 0 4px 6px -6px #20232c;
	    box-shadow: 0 4px 6px -6px #20232c;

	}
	
	nav h1, nav h2, nav ul {
		text-align: center;
	}

	nav ul {
		margin: 0em;
		padding: 0em;
		padding-top: .5em;
		padding-bottom: .5em;
	}
	nav ul li{
		display: inline-block;
		margin-right: 2em;
	}

	nav ul li a {
		font-size: 1.2em;
		color: #4798AD;
	}
	.nav_desk {
		display: none;
	}

	#main {
	padding-top: 9em;
	margin-left: 5%;
	margin-right: 5%;
	}
	
	#main article p a img {
	margin-right: 1.5em;
	}

	.local {
	position: relative;
	width: 0em;
	visibility: hidden;
	top: -7.5em;
	}

	#projects h1 {
		margin-bottom: .5em;
	}

	#projects h2 {
		margin: auto;
		text-align: center;
		background-color: #20232c;
		color: #ffffff;
		width: 20em;
	}

	.article_header {
		margin: auto;
		width: 30em;
	}

	.article_nav {
		margin-top: 1em;
	}
	
	#projects article p{
		margin-bottom: 3em;
		margin-left: auto;
		margin-right: auto;
		max-width: 40em;
	}

}

@media all and (max-width: 404px) {
	#main {
	margin-left: 1%;
	margin-right: 1%;
	}
	
	.article_header{
		width: 23.3em;
		overflow: hidden;
	}

	.article_header img {
		width: 100%;
		height: 100%;
	}

	#projects .article_header h2 {
		width: 16em;
	}

}

@media all and (min-width: 671px)	{


	body {
	background-image: url(../img/pattern.png);
	background-repeat: repeat;
	}

	#wrapper {
	margin: auto;
	max-width: 1024px;
	}

	nav {
		position: fixed;
		display: block;
		width: 24em;
		top: 1em;
		float: left;
	}
	
	nav #subtitle {
		display: inline-block;
		padding: .5em;
		font-size: 1.25em;
	}

	#main {
		display: inline-block;
		max-width: 600px;
		float: left;
		margin-left: 24em;
		position: relative;
		top: 3em;
		margin-bottom: 3em;
	}

	@-moz-document url-prefix() {
		#main {
			margin-left: 26em;
		}
	}
	
	#projects article h2 {
		background-color: #20232c;
		color: #ffffff;
		padding-top: .30em;
		padding-bottom: .30em;
	}

	.article_header img {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.local {
	visibility: hidden;
	}

	#resume {
	display: none;
	}

	#footnote, footer {
	clear: both;
	display: block;
	}


}

@media all and (min-width: 800px) {
	#projects article picture {
		display: block;
	}

	#projects article h2 {
		background-color: #20232c;
		display: inline-block;
		color: #ffffff;
		width: 47%;
		padding-top: .30em;
		padding-bottom: .30em;
	}
	
	#projects article p {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.article_nav {
		display: inline-block;
		width: 52%;
	}

}
