.inner_container {
	width: 100%;
	margin: 2em 0em 1em 0em;
	content:"";
    display:table;
	clear: both;
}

article {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	content:"";
    display:table;
	clear: both;
	margin-bottom: 1em;
	background-color: #ecf0f1;
	color: #1F1F2F;
}

.description {
	float: left;
	margin-left: 2.5em;
	display: inline-block;
	text-align: left;
	width: 32em;
	vertical-align: top;
}

img {
	float: left;
	display: inline-block;
	vertical-align: middle;
	padding: 0px;
}
