body {
	margin: 0px;
}

nav {
	height: 24px;
	padding: 8px;
	background-color: #388C83;
}
	
	h2 a {
	margin-left: 80px;
	color: black;
	}
	
	li {
	display: inline;
	padding: 4px;
	}
	
	li a {
	color: #F7F7F7;
	}
	
	li:hover {
	background-color: #4db5a9;	
	}

	a {
	text-decoration: none;
	}	

	ul {
	margin-top: 3px;
	margin-left: 50px;
	}

article {
	margin-left: 80px;
}

	p {
	font:12px Verdana, Helvetica;
	}

footer {
	font-size: 12px;
	margin-left:80px;
	margin-top: 10px;
}



