body {
	font-family: Trebuchet, Trebuchet MS, Verdana, Arial, sans-serif;
	margin: 0px;
}

nav {
	height: 24px;
	padding: 8px;
	background-color: #388C83;
}
	
	h2 a {
	margin-left: 80px;
	color: black;
	}
	
	li {
	margin-right: 4px;
	display: inline;
	padding: 4px;
	}
	
	li a {
	color: #F7F7F7;
	}	
	li:hover {
	background-color: #4db5a9;	
	}

	a {
	text-decoration: none;
	}	

	ul {
	margin-top: 3px;
	margin-left: 30px;
	}

article {
	margin-left: 80px;
}

	p {
	font:12px Arial, Helvetica, sans-serif;
	}

.icons {
	vertical-align: middle;
	margin-right: 6px;
}

footer {
	font-size: 12px;
	margin-left:80px;
	margin-top: 10px;
}



