html, body, div, span, p, em, img, b, u, i, center,
ol, ul, li, article, aside, canvas, details, embed, footer,
header, menu, nav, section, summary, audio, video {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  border: 0px;
  font: inherit;
  color: #202020;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, div {
	display: block;
}

body {
	line-height: 1;
}

a {
  text-decoration: none;
  color: #202020
}

ol, ul {
	list-style: none;
}
