@import "../../assets/colors";

.about_landing_wrapper {
  padding: 3vh;
  box-sizing: border-box;
  background-color: $white;
  width: 100%;
  min-height: 100vh;
}

.about_landing {
  width: 100%;
  min-height: calc(100vh - 6vh);
  background-color: $lavender;
}

.about_content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 50em;
  height: calc(100vh - 6vh);
  margin: auto;
}

  .description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    
    p {
      color: $white;
      width: 14.75em;
      margin: 1.125em auto 0em;
      text-align: center;
      line-height: 1.15em;
    }
    a {
      color: $white;
      text-decoration: underline;
    }

    .desc_title {
      width: 17.8125em;
      grid-column: 1/3;
      grid-row: 1/2;
    }
    .desc_owl {
      width: 7.5em;
      grid-column: 1/3;
      grid-row: 2/3;
      margin: auto;
    }
    .desc_par1 {
      grid-column: 1/3;
      grid-row: 3/4;
    }
    .desc_par2 {
      grid-column: 1/3;
      grid-row: 4/5;
    }
    .desc_par3 {
      grid-column: 1/3;
      grid-row: 5/6;
    }
    .desc_par4 {
      grid-column: 1/3;
      grid-row: 6/7;
      margin-bottom: 5em;
    }
  }

  .profile { width: 30em; }

@media(max-height: 770px) {
  .description {
    .desc_par4 { margin-bottom: 2em; }
  }
  .profile { width: 25em; }
}

@media(max-height: 686px) {
  .description {
    font-size: 87.5%;
    .desc_par4 { margin-bottom: 1.5em; }
  }
  .profile { width: 20em; }
}

@media(max-height: 590px) {
  .about_content { height: 100%; }
  .description { margin-top: 4.75em; }
}

@media(min-height: 770px) and (max-width: 820px),
      (min-height: 686px) and (max-width: 727px),
      (max-height: 686px) and (max-width: 607px) { 
  .about_content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 17.5em;
    height: 100%;
  }
  .description {
    margin-top: 7em;
    .desc_par4 { margin-bottom: 0em; }
  }
  .profile { width: 55vw; }
}

@media(max-width: 500px) {
  .description_wrapper p { font-size: 1.125em; }
}
