<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"></meta>

  <title>Gibran Garcia - Portfolio</title>

  <link rel="stylesheet" href="https://use.typekit.net/cjs2zzs.css">
  <link rel="stylesheet" type="text/css" href="/main.bundle.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="/about.bundle.css" media="screen"/>
</head>
<body>
<div class="about_landing_wrapper">
  <section class="about_landing">

    <div class="nav_layer" id="nav_layer">
      <div class="logo">
        <a href="/"> 
          <div class="logo_wrapper" id="logo_wrapper">
            <p class="logo_text">OWLSKETCH</p>
          </div>
        </a>
      </div>
      <div class="menu"> 
        <a class="menu_link" href="/">projects</a>
        <a class="menu_link" href="/about">about</a>
      </div>
    </div>

    <div class="about_content">
      <div class="description_wrapper">
        <section class="description">
          <img class="desc_title" width="285" src="/img/about/titletext.png" alt="I am a creative maker near New York City"/>
          <img class="desc_owl" width="120" src="/img/about/owlsketch.png" alt="owlsketch"/>
          <p class="desc_par1">
            Hello! My name is Gibran Garcia.
            I like the idea of being able to wake
            up, decide that there is something 
            missing in the world, and having the 
            skills to make it a reality.
          </p>
          <p class="desc_par2">
            In 2017 I finished a degree in 
            Computer Science at Rutgers 
            University. Now I'm working on
            my own company that creates
            interactive art galleries for 
            artists on the web.
            Check out my 
            <a href="/img/about/GibranGarciaResume.pdf#zoom=100&view=Fit">
              resume
            </a>
            if you’d like to know more.
          </p>
          <p class="desc_par3">
            In my free time you can find 
            me <a href="https://www.instagram.com/airbag_racing/">skateboarding</a> or 
            taking <a href="https://www.instagram.com/airbag_racing/">photos</a>.
          </p>
          <p class="desc_par4" >
            Want to say hello? Get in touch at:
            <a href="mailto:os.ggarcia16@gmail.com">
              os.ggarcia16@gmail.com
            </a>
          </p>
        </section>
      </div>
      <img class="profile" width="480" src="/img/about/profile.jpg" alt="profile: Gibran Garcia"/>
    </div>
  </section>
</div>
  <script src="/main.bundle.js"></script>
  <script src="/about.bundle.js"></script>
</body>
</html>
