@import "colors";

.landing {
  background-color: $lavender;
}

.about_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

  .description {
    box-sizing: border-box;
    width: 25.75em;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      color: $white;
      width: 13.75em;
      margin-top: 1.125em;
    }
    a {
      color: $white;
      text-decoration: underline;
    }
  }

  .images {
    flex: 1;
    height: 100%;
  }
