@import "colors";

.nav_layer {
  width: calc(100% - 6vh);
}

.about_landing_wrapper {
  padding: 3vh;
  box-sizing: border-box;
  background-color: $white;
  width: 100%;
  min-height: 100vh;
}

.about_landing {
  width:100%;
  min-height: calc(100vh - 6vh);
  background-color: $lavender;
}

.about_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

  .description {
    padding: 8em 0em;
    box-sizing: border-box;
    width: 25.75em;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      color: $white;
      width: 13.75em;
      margin-top: 1.125em;
    }
    a {
      color: $white;
      text-decoration: underline;
    }
  }

  .images {
    flex: 1;
    height: 100%;
    display: grid;
    grid-template-columns: auto 400px auto;
    grid-template-rows: 200px 400px auto;
  }

  .profile {
    width: 400px;
    margin: auto;
    grid-column: 2/3;
    grid-row: 2/3;
  }
