@import "colors";

.nav_layer {
  width: calc(100% - 6vh);
}

.about_landing_wrapper {
  padding: 3vh;
  box-sizing: border-box;
  background-color: $white;
  width: 100%;
  min-height: 100vh;
}

.about_landing {
  width:100%;
  min-height: calc(100vh - 6vh);
  background-color: $lavender;
}

.about_content {
  display: flex;
  justify-content: center;
  width: 50em;
  height: calc(100vh - 6vh);
  margin: auto;
}

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    p {
      color: $white;
      width: 13.75em;
      margin-top: 1.125em;
      text-align: center;
    }
    a {
      color: $white;
      text-decoration: underline;
    }
    .last_p {
      margin-bottom: 5em;
    }
  }

  .images {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .profile {
    width: 480px;
  }
