@import "colors";

.vertical-line {
    display: inline-block;
    position: absolute;
    margin-left: 3.8em;
    height: 100vh;
    width: .15em; 
    background-color: $white;
}

#vl_black {
    background-color: $black;
}

.cover-section {
    //placed under menu component
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

    .cover-holder {
        position: absolute;
        z-index: 0;
        background-color: $black;
        width: 100%;
        height: 100vh; 
    }

    .cover__content {
        position: absolute;
        left: 50%;
        width: 100%;
        max-width: 111em;
        min-width: 55.5em;
        z-index: 1;
        .content__center {
            position: relative;
            left: -50%;
        }
    }

//block element
.main-section {
    //subsections each fill half of width
    height: 100vh;
    background-image: linear-gradient(0deg, $greengradient0 0%, $greengradient1 100%);
    .project {
        opacity: 0;
        width: 50%;
        float: left;
        //sub subsection has max/min width they fill up of subsection
        article {
            max-width: 55.5em;
            min-width: 28em;
            height: 100vh;
            color: $white;
            .project__title {
                margin-top: 0em;
            }
            p {
                color: $white;
            }
        }
    }
}
    
    #p_pixel-wrapper {
        article {
            //if max-width reached, align right
            width: 80%;
            margin-left: auto;
            margin-right: 0em;
        }
    }

    #p_wall-wrapper {
        article {
            //if max-width reached, align left
            margin-left: 0em;
            margin-right: auto;
        }
    }

.white-bg-section {
    width: 100%;
    height: 100vh;
}

    .footer-wrapper {
        position: relative;
        float: right;
        height: 100vh;
        width: 7.3em;
        footer {
            position: absolute;
            bottom: 1em;
            a {
                margin-right: 1em;
            }
        }
    }

