@import "colors";

#cover__content {
  position: absolute;
  z-index: 1;
}

#cover__title {
  color: $white;
}

#cover-holder {
  background-color: $bg-black;
  /* want canvas to cover entire width of window */
  width: 100%;
  /* however, want to maintain a ratio between width and height */
  height: 54.05vw; /* height:width ratio = 1/1.85  */
  /* only want to maintain ratio until height reaches this max point */
  max-height: 714px;
  /* possibly want the same condition for a minimum height? */
  min-height: 250px; /* Also depends on how mobile sizing will go */
}

#main-section {
}

.project {
	width: 50%;
	float: left;
}

.project__title {
	margin-top: 0px;
}

#project__pixel {
	background-color: $bg-blue;
	height: 400px;
	color: $white;
	p {
		color: $white;
	}
}


#project__wall {
	background-color: $bg-red;
	height: 400px;
	color: #FFFFFF;
	p {
		color: $white;
	}
}
