@import "colors";

#cover__content {
  position: absolute;
  z-index: 1;
	#cover__title {
	  color: $white;
	}
}

#cover-holder {
  background-color: $bg-black;
  // want canvas to cover entire width of window
  width: 100%;
  // however, want to maintain a ratio between width and height
  height: 54.05vw; // height:width ratio = 1/1.85
  // only want to maintain ratio until height reaches this max point
  max-height: 714px;
  // possibly want the same condition for a minimum height?
  min-height: 250px; // depends on how mobile sizing will go
}

//block element
#main-section {
	//subsections each fill half of width
	.project {
		width: 50%;
		float: left;
		//sub subsection has max/min width they fill up of subsection
		article {
			max-width: 888px;
			min-width: 462.5px;
			.project__title {
				margin-top: 0px;
			}
		}
	}
}

#project__pixel-wrapper {
	background-color: $bg-blue;
	#project__pixel {
		//if max-width reached, align right
		margin-right: 0px;
		margin-left: auto;

		background-color: $bg-blue;
		height: 800px;
		color: $white;
		p {
			color: $white;
		}
	}
}

#project__wall-wrapper {
	background-color: $bg-red;
	#project__wall {
		//if max-width reached, align left
		margin-left: 0px;
		margin-right: auto;

		background-color: $bg-red;
		height: 800px;
		color: #FFFFFF;
		p {
			color: $white;
		}
	}
}

