@import "colors";

body {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

.fixed {
    position: fixed;
    top: 0em;
    left: 0em;
    right: 0em;
    width: 4em;
}

.menu_holder {
    height: 100vh;
    width: 3em;
    a {
        font-size: 20px;
        position: absolute;
        display: inline-block;
        transform: rotate(-90deg);
        text-align: center;
        line-height: 1.75em;
        left: -2.75em;
        top: 50%;
        margin-top: -2.75em;
        width: 7.25em;
        height: 2em;
        font-family: 'Open Sans';
        font-weight: 800;
        letter-spacing: .3em;

        &:link {
            color: $white;
        }
        &:visited {
            color: $white;
        }
        &:hover {
            color: $white;
        }
        &:active {
            color: $white;
        }
    }
}

.midnightHeader.default {
    .menu_holder {
        a {
            border: solid .15em $white;
        }
    }
}
.midnightHeader.white {
    .menu_holder {
        a {
            border: solid .15em $black;
            background-color: $white;
            &:link {
                color: $black;
            }
            &:visited {
                color: $black;
            }
            &:hover {
                color: $black;
            }
            &:active {
                color: $black;
            }
        }
    }

}

.logo {
    display: inline-block;
    float: right;
    padding: .4em .5em;
    margin: 1.6em 2.5em;
    border: 1px solid $white;
}

.logo__text {
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: $white;
}
