@import "colors";

article {
}

body {
    font-family: 'Source Sans Pro', sans-serif;
	overflow-x: hidden;
}

.fixed {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 65px;
}

.menu_holder {
    height: 100vh;
    width: 50px;
    a {
        position: absolute;
        display: inline-block;
        transform: rotate(-90deg);
        text-align: center;
        line-height: 35px;
        left: -56px;
        top: 50%;
        margin-top: -36.25px;
        width: 145px;
        height: 40px;
        font-family: 'Open Sans';
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 6px;

        &:link {
            color: white;
        }
        &:visited {
            color: white;
        }
        &:hover {
            color: white;
        }
        &:active {
            color: white;
        }
    }
}

.midnightHeader.black {
    border-right: 3px solid white;
    .menu_holder {
        a {
            border: solid 3px $white;
            background-color: $bg-black;
        }
    }
}

.midnightHeader.turquoise {
    border-right: 3px solid white;
    .menu_holder {
        a {
            border: solid 3px $white;
        }
    }
}

.midnightHeader.white {
    border-right: 3px solid $bg-black;
    .menu_holder {
        a {
            border: solid 3px $bg-black;
            background-color: $white;
            &:link {
                color: $bg-black;
            }
            &:visited {
                color: $bg-black;
            }
            &:hover {
                color: $bg-black;
            }
            &:active {
                color: $bg-black;
            }
        }
    }

}

#logo {
  display: inline-block;
  border: 1px solid $white;
  padding: .4em .5em;
  margin: 25px 40px;
  float: right;
}

#logo__text {
  font-family: 'Open Sans';
  font-weight: 800;
  color: #ffffff;
  font-size: 26px;
}
