@import "colors";

body {
  font-family: "futura-pt", sans-serif;
}

.nav_layer {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  grid-template-rows: auto auto;
  align-content: space-between;
  pointer-events: none;
  * {
    pointer-events: auto;
  }
}

  .logo {
    .logo_corner {
      background: $white;
      width: 1.5em;
      height: 1.5em;
    }
    .logo_wrapper {
      display: inline-block;
      margin-left: 1.5em;
      border: solid 1px $white;
      padding: .5em .75em;
      .logo_text {
        font-size: 1.5em;
        font-weight: 700;
        color: $white;
      }
    }
  }
  .menu {
    margin-top: 2em;
    margin-right: 4em;
    a {
      color: $white;
      font-size: 1.3125em;
    }
    a:first-child {
      margin-right: 1.33em;
    }
  }
  .social {
    margin-left: 2.125em;
    margin-bottom: 1.75em;
    .links {
      width: 1.5em;
    }
    svg {
      display: block;
      color: $white;
      font-size: 1.5em;
    }
    .fa-github {
      margin-bottom: .6em;
    }
  }
