// GLOBAL CHANGES

@media (max-width: 1050px) {
  .left_arrow {
    margin-left: 1.25em;
  }
  .right_arrow {
    margin-right: 1.25em;
  }
}

@media (max-width: 650px) {
  .proj_article {
    width: 85vw;
    .proj_description {
      padding: 0em 1.25vh;
    }
  }
}

@media (max-height: 700px) {
  .gallery_main {
    font-size: .875em;
  }
  .pixel_main {
    font-size: .875em;
  }

  .project_title_scrolled {
    font-size: 2.3em;
  }

  .gallery_article {
    top: -1em;
  }
  .pixel_article {
    top: -1em;
  }
}

@media (max-height: 600px) {
  .gallery_main {
    font-size: .625em;
  }
  .pixel_main {
    font-size: .625em;
  }

  .gallery_article {
    top: -3em;
  }
  .pixel_article {
    top: -3.25em;
  }
}

@media (max-height: 440px) {
  .gallery_main {
    font-size: .5em;
  }
  .pixel_main {
    font-size: .5em;
  }

  .gallery_article {
    top: -4.5em;
  }
  .pixel_article {
    top: -4.25em;
  }
}

// GALLERY CHANGES
@media (max-width: 700px) {
  //article content
  .gallery_img_flex {
    margin-top: 3em;
    flex-direction: column;
    img {
      width: 100%;
    }
    img:first-child {
      margin-bottom: 3em;
    }
  }
}

@media (min-height: 700px) and (max-width: 1050px),
       (min-height: 600px) and (max-width: 915px),
       (min-height: 400px) and (max-width: 656px),
       (max-height: 400px) and (max-width: 500px) {

  .gallery_layer_bottom {
    width: 82vw;
  } 
  .gallery_layer_middle {
    width: 43.75vw;
  }

  .gallery_title_scrolled {
    font-size: 3.75vw;
  }
}

@media (min-height: 700px) and (max-width: 785px),
       (min-height: 601px) and (max-width: 680px),
       (min-height: 400px) and (max-width: 390px) {

  //remove bottom layer of gallery
  .gallery_layer_bottom {
    display: none;
  }
  //expand middle layer of gallery
  .gallery_layer_middle {
    width: 74vw;
  }
  .gallery_title p {
    font-size: 4.5em;
  }
}

@media (min-height: 700px) and (max-width: 440px) {
  .gallery_main {
    font-size: 12px;
  }
  .gallery_article {
    top: -.75em;
  }
}

// PIXEL CHANGES
@media (max-width: 700px) {
  .pixel_portrait1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .pixel_portrait2 {
    grid-column: 3/5;
    grid-row: 1/3;
  }
  .pixel_landscape1 {
    grid-column: 1/5;
    grid-row: 3/4;
  }
  .pixel_landscape2 {
    grid-column: 1/5;
    grid-row: 4/5;
  }
}

@media (min-height: 700px) and (max-width: 1350px),
       (min-height: 600px) and (max-width: 1175px),
       (min-height: 400px) and (max-width: 835px) { 
  .pixel_title_scrolled {
    font-size: 2.75vw;    
  }
}

@media (min-height: 700px) and (max-width: 650px),
       (min-height: 600px) and (max-width: 611px) {

  .img_pixel_wall {
    width: 20em;
  }
  .pixel_title {
    font-size: .9em;
    white-space: normal;
  }

  .pixel_title_scrolled {
    white-space: normal;
    font-size: 4.25vw;
  }
}

@media (min-height: 600px) and (max-width: 611px) {
  .pixel_article {
    top: -4.75em;
  }
}

@media (min-height: 700px) and (max-width: 650px) {
  .pixel_article {
    top: -4em;
  }
}
