//point at which given width of gallery meets given viewport width
@media (max-width: 960px) {
  .left_arrow {
    margin-left: 1.25em;
  }
  .right_arrow {
    margin-right: 1.25em;
  }

 .gallery_layer_bottom {
    width: calc(100vw - 14vh);
  } 
 .gallery_layer_middle {
    width: 47vw;
  }
}

//point at which given width of pixel meets given viewport width
@media (max-width: 900px) {
  .img_pixel_wall {
    width: 66.6vw;
  }

}

//point at which mid layer meets min width
@media (max-width: 730px) {
  //remove bottom layer of gallery
  .gallery_layer_bottom {
    display: none;
  }
  //expand middle layer of gallery
  .gallery_layer_middle {
    width: 80vw;
  }
}

//point at which pixel wall starts getting too small for title text
@media (max-width: 640px) {
  .img_pixel_wall {
    width: 26.625em;
  } 
}

@media (max-width: 500px) {
  .img_pixel_wall {
    width: 20em;
  }
  .pixel_title p {
    white-space: normal;
  }
}
