@media (max-width: 500px) {
  body {
    font-size: 87.5%;
  }
  .menu {
    margin-left: 0em;
    a {
      margin-right: 1.33em;
    }
  }
  .cheryl {
    width: 7em;
    margin-right: 0em;
    margin-top: 2.5em;
    margin-left: 1.35em;
    text-align: right;
  }
}

