@media (max-width: 650px) {
  .footer_sections {
    margin-top: 4em;
  }
  .footer_content {
    width: 90vw;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
  .menu {
    margin-top: 2.25em;
    margin-right: 1.5em;
    width: 8.5em;
  }
}

