// GLOBAL CHANGES
@media (max-width: 1050px) {
  .left_arrow {
    margin-left: 1.25em;
  }
  .right_arrow {
    margin-right: 1.25em;
  }
}

@media (max-height: 700px) {
  .gallery_main {
    font-size: .875em;
  }
  .pixel_main {
    font-size: .875em;
  }

  .project_scroll_title {
    font-size: 12.6vw;
  }

  .gallery_article {
    margin-top: 10.25em;
  }
  .pixel_article {
    margin-top: 10.25em;
  }
}

@media (max-height: 550px) {
  .gallery_main {
    font-size: .625em;
  }
  .pixel_main {
    font-size: .625em;
  }

  .project_scroll_title {
    font-size: 9vw;
  }

  .gallery_article {
    margin-top: 7.75em; 
  }
  .pixel_article {
    margin-top: 7.75em;
  }
}

@media (max-height: 400px) {
  .gallery_main {
    font-size: .5em;
  }
  .pixel_main {
    font-size: .5em;
  }

  .project_scroll_title {
    font-size: 7.25vw;
  }

  .gallery_article {
    margin-top: 6.5em; 
  }
  .pixel_article {
    margin-top: 6.5em;
  }
}

// GALLERY CHANGES
@media (min-height: 700px) and (max-width: 1050px),
       (min-height: 550px) and (max-width: 915px),
       (min-height: 400px) and (max-width: 656px),
       (max-height: 400px) and (max-width: 500px) {

  .gallery_layer_bottom {
    width: 82vw;
  } 
  .gallery_layer_middle {
    width: 43.75vw;
  }
}

@media (min-height: 700px) and (max-width: 785px),
       (min-height: 550px) and (max-width: 680px),
       (min-height: 400px) and (max-width: 430px) {

  //remove bottom layer of gallery
  .gallery_layer_bottom {
    display: none;
  }
  //expand middle layer of gallery
  .gallery_layer_middle {
    width: 74vw;
  }
  .gallery_title p {
    font-size: 4.5em;
  }
}

@media (min-height: 700px) and (max-width: 440px) {
  .gallery_main {
    font-size: 12px;
  }
  .gallery_article {
    margin-top: 9.75em;
  }
}

// PIXEL CHANGES
@media (min-height: 700px) and (max-width: 650px),
       (min-height: 550px) and (max-width: 611px) {

  .img_pixel_wall {
    width: 20em;
  }
  .pixel_title {
    top: 12.5em;
    p {
    white-space: normal;
    }
  }
  .pixel_scroll_title {
    p {
      white-space: normal;
    }
  }
}

@media (min-height: 550px) and (max-width: 611px) {
  .pixel_article {
    margin-top: 6.9em;
  }
}

@media (min-height: 700px) and (max-width: 650px) {
  .pixel_article {
    margin-top: 7.4em;
  }
}

