// GLOBAL CHANGES
@media (max-width: 1050px) {
  .left_arrow {
    margin-left: 1.25em;
  }
  .right_arrow {
    margin-right: 1.25em;
  }
}

@media (max-height: 700px) {
  .gallery_main {
    font-size: .875em;
  }
  .pixel_main {
    font-size: .875em;
  }
}

@media (max-height: 550px) {
  .gallery_main {
    font-size: .625em;
  }
  .pixel_main {
    font-size: .625em;
  }
}

// GALLERY CHANGES
@media (min-height: 700px) and (max-width: 1050px),
       (min-height: 550px) and (max-width: 915px),
       (max-height: 550px) and (max-width: 656px) {

  .gallery_layer_bottom {
    width: 82vw;
  } 
  .gallery_layer_middle {
    width: 43.75vw;
  }
}

@media (min-height: 700px) and (max-width: 785px),
       (min-height: 550px) and (max-width: 680px),
       (max-height: 550px) and (max-width: 430px) {

  //remove bottom layer of gallery
  .gallery_layer_bottom {
    display: none;
  }
  //expand middle layer of gallery
  .gallery_layer_middle {
    width: 74vw;
  }
  .gallery_title p {
    font-size: 4.5em;
  }
}

@media (min-height: 700px) and (max-width: 440px) {
  .gallery_main {
    font-size: 12px;
  }
}

// PIXEL CHANGES
@media (min-height: 700px) and (max-width: 900px),
       (min-height: 550px) and (max-width: 786px),
       (max-height: 550px) and (max-width: 500px) {

  //scaling pixelwall
  .img_pixel_wall {
    width: 66.6vw;
  }
  .pixel_title {
    top: 27.5vw;
  }
}

@media (min-height: 700px) and (max-width: 775px),
       (min-height: 550px) and (max-width: 680px) {

  //set dimmension again
  .img_pixel_wall {
    width: 32.25em;
  } 
  .pixel_title {
    top: 13.3em;
  }
}

@media (min-height: 700px) and (max-width: 650px),
       (min-height: 550px) and (max-width: 611px),
       (max-height: 550px) and (max-width: 425px) {

  .img_pixel_wall {
    width: 20em;
  }
  .pixel_title {
    top: 12.5em;
    p {
    white-space: normal;
    }
  }
  .pixel_scroll_title {
    p {
      white-space: normal;
    }
  }
}

