@media (max-width: 960px) {
  .left_arrow {
    margin-left: 1.25em;
  }
  .right_arrow {
    margin-right: 1.25em;
  }
}

@media (max-height: 700px) {
  .img_gallery_landscape { width: 14em; } 
  .img_gallery_portrait { width: 8.36em; } 
  .img_gallery_modal { width: 13.22em; } 
  .gallery_layer_bottom { width: 41.8em; } 
  .gallery_layer_middle { width: 22.3em; }
  .gallery_title { top: 10.88em; }
  .project {
    .project_title {
      p { 
        font-size: 4.28em; 
      }
    }
  }
}

//given width of gallery meets given viewport width
@media (max-width: 960px) and (min-height: 700px) {
  .gallery_layer_bottom {
    width: 89.5vw;
  } 
  .gallery_layer_middle {
    width: 47.75vw;
  }
}

//given width of pixel meets given viewport width
@media (max-width: 900px) {
  .img_pixel_wall {
    width: 66.6vw;
  }
  .pixel_title {
    top: 27.5vw;
  }

}

//mid layer meets min width
@media (max-width: 730px) {
  //remove bottom layer of gallery
  .gallery_layer_bottom {
    display: none;
  }
  //expand middle layer of gallery
  .gallery_layer_middle {
    width: 80vw;
  }
  .img_pixel_wall {
    width: 30.45em;
  } 
  .pixel_title {
    top: 12.5em;
  }
}

@media (max-width: 600px) {
  .img_pixel_wall {
    width: 20em;
  }
  .pixel_title {
    top: 12.5em;
    p {
    white-space: normal;
    }
  }
  .pixel_scroll_title {
    p {
      white-space: normal;
    }
  }
}
