@import "colors";

.proj_nav_layer {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.proj_arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  * {
    pointer-events: auto;
    cursor: pointer;
  }
  .left_arrow {
    margin-left: 2.88em;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
  .right_arrow {
    transform: scaleX(-1);
    margin-right: 3em;
    &:hover {
      transform: scale(-1.1, 1.1);
    }
  }
}

.projects {
  z-index: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .project_bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .project_title {
    font-weight: 700;
    font-size: 4.5em;
    color: $white;
  }
}

.gallery {
  width: 100%;
}

  .active { 
    //display: block;
  }

  .inactive { 
    //display: none;
  }

  @mixin linear-gradient($color-1, $color-2) {
    background: nth(nth($color-1, 1), 1);
    background : linear-gradient(0deg, $color-1, $color-2);
    background : -moz-linear-gradient(50% 100% 90deg, $color-1, $color-2);
    background : -webkit-linear-gradient(90deg, $color-1, $color-2);
    background : -o-linear-gradient(90deg, $color-1, $color-2);
    background : -ms-linear-gradient(90deg, $color-1, $color-2);
  }

  .gallery_bg {
    @include linear-gradient(rgba(255, 196, 77, 1) 0%, rgba(255, 220, 110, 1) 91.29%);
  }

  .pixel_bg {
    @include linear-gradient(rgba(255, 89, 141, 1) 0%, rgba(241, 114, 127, 1) 100%);
  }

  .gallery_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .gallery_imgs {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .gallery_portrait {
        img {
        display: block;
        box-shadow: 0em .4em .4em .125em #D6AF53;
        }
      }
    }
    .gallery_title {  
      display: inline-block;
    }
  }

  .pixel_main {
    .pixel_title {
      float: right;
    }
  }
