@import "colors";

/////////// General Set up ////////////////
.landing {
  position: relative;
  box-sizing: border-box;
  border: solid 3vh $white;
  width: 100%;
  height: 100vh;
  background-color: $mango; 
}

.nav_layer {
  top: 3vh;
  left: 3vh;
}

.nav_fixed {
  position: fixed;
  width: calc(100% - 6vh);
  top: 0;
}

//arrows
.proj_nav_layer {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.proj_arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  .arrow {
    pointer-events: auto;
    cursor: pointer;
    width: 2.875em;
  }
}

  .left_arrow {
    margin-left: 2.88em;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
  .right_arrow {
    transform: scaleX(-1);
    margin-right: 2.88em;
    &:hover {
      transform: scale(-1.1, 1.1);
    }
  }

.scroll_link {
  cursor: pointer;
}

//project center content
.project {
  //project is centered on the page, spans entire frame within white border
  //absolute removes hidden projects from affecting height of page
  position: absolute;
  width: 100%;
  height: 94vh; //subtract 6 for white border
}

  //background covers entire project landing section
  .project_bg {
    width: 100%;
    height: 94vh;
  }

  .project_flat_bg {
    width: 100%;
    height: 94vh;
    opacity: 0;
  }

  //top-left corner of project content is centered
  //content itself is then later translated to be in correct pos
  .project_main {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .project_title {
    position: absolute;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    p {
      font-weight: 700;
      font-size: 5.5em;
      color: $white;
    }
  }

  .project_scroll {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .project_scroll_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    opacity: 0;
    p {
      font-weight: 700;
      color: $white;
    }
  }

  .project_scroll_link {
    position: absolute; 
    top: calc(100vh/2 - 8vh);
    transform: translate(-50%, -50%);
    .scroll_link {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h3 {
      color: $white;
      margin: 0 0 .2em;
    }
    img {
      width: 3em;
    }
  }


////////// Specific Project CSS /////////

@mixin linear-gradient($color-1, $color-2) {
  background: nth(nth($color-1, 1), 1);
  background : linear-gradient(0deg, $color-1, $color-2);
  background : -moz-linear-gradient(50% 100% 90deg, $color-1, $color-2);
  background : -webkit-linear-gradient(90deg, $color-1, $color-2);
  background : -o-linear-gradient(90deg, $color-1, $color-2);
  background : -ms-linear-gradient(90deg, $color-1, $color-2);
}

.gallery_bg { @include linear-gradient(rgba(255, 196, 77, 1) 0%, rgba(255, 220, 110, 1) 91.29%); }
.pixel_bg { @include linear-gradient(rgba(255, 89, 141, 1) 0%, rgba(241, 114, 127, 1) 100%); }

.gallery_flat_bg { background: rgba(255, 220, 110, 1); }
.pixel_flat_bg { background: rgba(241, 114, 127, 1); }

.gallery_portrait {
  display: inline-block;
  img {
    box-shadow: 0em .4em .4em .125em rgba(124, 124, 124, .5); 
  }
}

.pixel_imgs {
  transform: translate(-50%, -50%);
}

//take layers out of flow, center them
.layer {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .gallery_layer_bottom { 
    z-index: 0; 
    width: 53.75em;
  }
  .gallery_layer_middle { 
    z-index: 1; 
    width: 28.675em;
  }
  .gallery_layer_top { 
    z-index: 2; 
  }

.img_gallery_landscape { width: 18em; }
.img_gallery_portrait { width: 10.75em; }
.img_gallery_modal { width: 17em; }

.img_pixel_wall { width: 32.8125em; }

.gallery_title { top: 14em; }
.pixel_title { top: 14em; }

.gallery_scroll { top: 71vh; }
.pixel_scroll { top: 67vh; }

.project_scroll_title {
  font-size: 13em;
}

////////// ArrowsHandler CSS //////////
.active {
  display: block;
  opacity: 1;
  z-index: 0;
}

.hide {
  z-index: 1;
  animation: fadeOut .5s ease-in 1 forwards;
}

@keyframes fadeOut {
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

///////// ScrollHandler CSS //////////
.project_img {
  position: fixed;
}

.project_img_absolute {
  position: absolute;
  top: 50vh;
}

.display_none {
  display: none;
}

