@import "colors";

.proj_articles {
  position: relative;
  h1, p, a {
    color: $black;
  }
}

.articles_container {
  position: absolute;
  top: 11.5em;
  width: 100%;
}

.proj_article {
  margin-bottom: 8em;
  .proj_description {
    width: 75vw;
    max-width: 40.5em;
    padding: 0em 5vh;
    margin: 0 auto;
    text-align: center;
  }

  .proj_links {
    max-width: 22.75em;
    width: 60vw;
    padding: 0em 5vh;
    margin: 2.25em auto 0;
    display: flex;
    justify-content: space-between;
    a {
      font-weight: 700;
    }
  }
}

.pixel_article {
  margin-top: 2em;
}
