@import "colors";

.proj_articles {
  position: relative;
  h1, p, a {
    color: $black;
  }
}

.articles_container {
  width: 100%;
}

.proj_article {
  margin: 11.5em auto 2em;
  width: 75vw;

  .proj_description {
    max-width: 40.5em;
    padding: 0em 5vh;
    margin: 0 auto;
    text-align: center;
  }

  .proj_links {
    max-width: 22.75em;
    width: 60vw;
    padding: 0em 5vh;
    margin: 2.25em auto 0;
    display: flex;
    justify-content: space-between;
    a {
      font-weight: 700;
    }
  }
}

.pixel_mobile_imgs {
  max-width: 66em;
  margin: 4em auto 0em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  img {
    width: 100%;
    justify-self: center;
    align-self: center;
    border: solid 1px $darkWhite;
    display: inline-block;
  }
}

  .pixel_portrait1 {
    grid-column: 1/2;
    grid-row: 1/5;
  }
  .pixel_portrait2 {
    grid-column: 2/3;
    grid-row: 1/5;
  }
  .pixel_landscape1 {
    grid-column: 3/5;
    grid-row: 1/3;
  }
  .pixel_landscape2 {
    grid-column: 3/5;
    grid-row: 3/5;
  }

.gallery_article_image {
  max-width: 62.5em;
  margin: 4em auto 0em;
  img {
    border: solid 1px $darkWhite;
  }
}

  .gallery_img_claude_angle {
    display: block;
    margin: auto;
    width: 100%;
  }

  .gallery_img_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
