@import "colors";

.proj_nav_layer {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.proj_arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  * {
    pointer-events: auto;
    cursor: pointer;
  }
  .left_arrow {
    margin-left: 2.88em;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
  .right_arrow {
    transform: scaleX(-1);
    margin-right: 3em;
    &:hover {
      transform: scale(-1.1, 1.1);
    }
  }
}

.projects {
  position: relative;
  width: 100%;
  height: 100%;
}

.project {
  //project is centered on the page
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 94vh;
  .project_bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 94vh;
  }
  //center content of project using translate
  .project_main {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  //containing block for absolute title
  .project_title_container {
    position: relative;
  }
  //remove title from flow of document.
  //project images thus perfectly centered
  //and title is added right below
  .project_title {
    position: absolute;
    top: 1.5em;
    transform: translate(-50%, 0%);
    white-space: nowrap;
    p {
      font-weight: 700;
      font-size: 4.5em;
      color: $white;
    }
  }
}

.active {
  display: block;
  opacity: 1;
  z-index: 0;
}

.hide {
  z-index: 1;
  animation: fadeOut .5s ease-in 1 forwards;
}

@keyframes fadeOut {
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@mixin linear-gradient($color-1, $color-2) {
  background: nth(nth($color-1, 1), 1);
  background : linear-gradient(0deg, $color-1, $color-2);
  background : -moz-linear-gradient(50% 100% 90deg, $color-1, $color-2);
  background : -webkit-linear-gradient(90deg, $color-1, $color-2);
  background : -o-linear-gradient(90deg, $color-1, $color-2);
  background : -ms-linear-gradient(90deg, $color-1, $color-2);
}

.gallery_bg { @include linear-gradient(rgba(255, 196, 77, 1) 0%, rgba(255, 220, 110, 1) 91.29%); }
.pixel_bg { @include linear-gradient(rgba(255, 89, 141, 1) 0%, rgba(241, 114, 127, 1) 100%); }

.gallery_imgs {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  .gallery_portrait img {
    box-shadow: 0em .4em .4em .125em #D6AF53;
  }
}

.pixel_imgs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
