@import "colors";

.proj_nav_layer {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.proj_arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  * {
    pointer-events: auto;
    cursor: pointer;
  }
  .left_arrow {
    margin-left: 2.88em;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
  .right_arrow {
    transform: scaleX(-1);
    margin-right: 3em;
    &:hover {
      transform: scale(-1.1, 1.1);
    }
  }
}

.projects {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .project_bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .project_title {
    font-weight: 700;
    font-size: 4.5em;
    color: $white;
  }
}

  .active { 
    display: block;
  }

  .inactive { 
    display: none;
  }

  .gallery_bg {
    background : -moz-linear-gradient(50% 100% 90deg,rgba(255, 195, 72, 1) 0%,rgba(255, 222, 102, 1) 50%);
    background : -webkit-linear-gradient(90deg, rgba(255, 195, 72, 1) 0%, rgba(255, 222, 102, 1) 50%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(255, 195, 72, 1) ),color-stop(0.5,rgba(255, 222, 102, 1) ));
    background : -o-linear-gradient(90deg, rgba(255, 195, 72, 1) 0%, rgba(255, 222, 102, 1) 50%);
    background : -ms-linear-gradient(90deg, rgba(255, 195, 72, 1) 0%, rgba(255, 222, 102, 1) 50%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFC348', endColorstr='#FFDE66' ,GradientType=0)";
    background : linear-gradient(0deg, rgba(255, 195, 72, 1) 0%, rgba(255, 222, 102, 1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDE66',endColorstr='#FFC348' , GradientType=0);
  }

  .pixel_bg {
    background: $red;
  }

  .gallery {
    .gallery_frame {
      border: solid .125em $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .gallery_frame_bg {
        width: 47.75em;
        height: 22.75em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          vertical-align: middle;
        }
      }
    }
    .gallery_title {
      float: right;
    }
  }

  .pixel {
    .pixel_title {
      float: right;
    }
  }
