@import "colors";

/////////// General Set up ////////////////
.nav_layer {
  top: 3vh;
  left: 3vh;
}

.nav_fixed {
  position: fixed;
  width: calc(100% - 6vh);
  top: 0;
}

.project_scroll {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.project_scroll_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  opacity: 0;
  p {
    font-weight: 700;
    color: $white;
  }
}

////////// Specific Project CSS /////////
.gallery_scroll { top: 71vh; }
.pixel_scroll { top: 67vh; }

.project_scroll_title {
  font-size: 13em;
}

////////// ArrowsHandler CSS //////////
.hide {
  z-index: 1;
  animation: fadeOut .5s ease-in 1 forwards;
}

@keyframes fadeOut {
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

///////// ScrollHandler CSS //////////
.project_img_absolute {
  position: absolute;
  top: 50vh;
}

.display_none {
  display: none;
}

