@import "colors";

.proj_articles {
  position: relative;
  h1, p, a {
    color: $black;
  }
}

.articles_container {
  position: absolute;
  top: 12.5em;
  width: 100%;
}

.proj_article {
  margin-bottom: 8em;
  .proj_description {
    max-width: 41em;
    padding: 0em 5vh;
    margin: 0 auto;
    text-align: center;
  }

  .proj_links {
    max-width: 22.75em;
    padding: 0em 5vh;
    margin: 2.25em auto 0;
    display: flex;
    justify-content: space-between;
    a {
      font-weight: 700;
    }
  }
}
.proj_article {
  .pixel_description {
    margin-top: 1em;
  }
}
