@import "../../assets/colors";

.footer_sections {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;

  div { height: .25em; }
}

.pink_section { background-color: $pink; }
.mango_section { background-color: $mango; }

.footer_wrapper {
  background-color: $darkBlack;
  height: 8em;

  * { color: $white; }
}

.footer_content {
  width: 75vw;
  height: 8em;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_subHeader {
  margin-top: .3125em;
  font-size: .84em;
}

.icon_list {
  margin-top: -.2em;
  width: 9em;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 650px) {
  .footer_sections {
    margin-top: 4em;
  }
  .footer_content {
    width: 90vw;
  }
}

