<div class="project gallery active" id="gallery">
  <div class="project_bg gallery_bg"></div> 
  <div class="project_main gallery_main">
    <div class="gallery_imgs">

      <div class="layer gallery_layer_bottom">
        <div class="gallery_portrait">
          <a href="http://owlsketch.com/gallery">
            <img class="img_gallery_landscape" src="/img/13.jpg" width="288px"/>
          </a>
        </div>
        <div class="gallery_portrait">
          <a href="http://owlsketch.com/gallery">
            <img class="img_gallery_landscape" src="/img/9.jpg" width="288px"/>
          </a>
        </div>
      </div>

      <div class="layer gallery_layer_middle">
        <div class="gallery_portrait">
          <a href="http://owlsketch.com/gallery">
            <img class="img_gallery_portrait" src="/img/16.jpg" width="172px"/>
          </a>
        </div>
        <div class="gallery_portrait">
          <a href="http://owlsketch.com/gallery">
            <img class="img_gallery_portrait" src="/img/18.jpg" width="172px"/>
          </a>
        </div>
      </div>

      <div class="layer gallery_layer_top">
        <div class="gallery_modal">
          <a href="http://owlsketch.com/gallery">
            <img class="img_gallery_modal" src="/img/gallery_modal.png" width="272px"/>
          </a>
        </div>
      </div>

    </div>
    <div class="project_title_rel">
      <div class="project_title gallery_title">
        <a href="http://owlsketch.com/gallery">
          <p>GALLERY</p>
        </a>
      </div>
    </div>
  </div>
</div>
