<div class="project gallery active" id="gallery">
  <div class="project_bg gallery_bg">
    <div class="project_flat_bg gallery_flat_bg"></div>
  </div> 
  <div class="project_main gallery_main">

    <div class="project_title gallery_title">
      <a href="https://github.com/owlsketch/gallery/blob/master/README.md">
        <p>GALLERY</p>
      </a>
    </div>

    <div class="project_img gallery_imgs">

      <div class="layer gallery_layer_bottom">
        <div class="gallery_portrait">
          <a href="https://github.com/owlsketch/gallery/blob/master/README.md">
            <img class="img_gallery_landscape" src="/img/landscape_left.jpg" width="288px"/>
          </a>
        </div>
        <div class="gallery_portrait">
          <a href="https://github.com/owlsketch/gallery/blob/master/README.md">
            <img class="img_gallery_landscape" src="/img/portrait_left.jpg" width="288px"/>
          </a>
        </div>
      </div>

      <div class="layer gallery_layer_middle">
        <div class="gallery_portrait">
          <a href="https://github.com/owlsketch/gallery/blob/master/README.md">
            <img class="img_gallery_portrait" src="/img/portrait_right.jpg" width="172px"/>
          </a>
        </div>
        <div class="gallery_portrait">
          <a href="https://github.com/owlsketch/gallery/blob/master/README.md">
            <img class="img_gallery_portrait" src="/img/landscape_right.jpg" width="172px"/>
          </a>
        </div>
      </div>

      <div class="layer gallery_layer_top">
        <div class="gallery_modal">
          <a href="https://github.com/owlsketch/gallery/blob/master/README.md">
            <img class="img_gallery_modal" src="/img/gallery_modal.png" width="272px"/>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
