<div class="project gallery active" id="gallery">
  <div class="project_bg gallery_bg">
    <div class="project_flat_bg gallery_flat_bg"></div>
  </div> 
  <div class="project_scroll gallery_scroll">
    <div class="project_scroll_title gallery_scroll_title">
      <p>GALLERY</p>
    </div>
  </div>
  <div class="project_main gallery_main">

    <div class="project_title gallery_title scroll_link">
      <p>GALLERY</p>
    </div>

    <div class="project_scroll_link">  
      <div class="scroll_link">
        <h3>MORE</h3>
        <img width="48px" src="/img/landing/more_arrow.svg" alt="Read more link"/>
      </div>
    </div>

    <div class="project_img gallery_imgs">
      <div class="layer gallery_layer_bottom">
        <div class="gallery_portrait">
          <img class="img_gallery_landscape scroll_link" src="/img/landing/gallery/landscape_left.jpg" width="288px" alt="Claude Monet landscape painting"/>
        </div>
        <div class="gallery_portrait">
          <img class="img_gallery_landscape scroll_link" src="/img/landing/gallery/portrait_left.jpg" width="288px" alt="Claude Monet portrait painting"/>
        </div>
      </div>
      <div class="layer gallery_layer_middle">
        <div class="gallery_portrait">
          <img class="img_gallery_portrait scroll_link" src="/img/landing/gallery/portrait_right.jpg" width="172px" alt="Gallery main menu modal"/>
        </div>
        <div class="gallery_portrait">
          <img class="img_gallery_portrait scroll_link" src="/img/landing/gallery/landscape_right.jpg" width="172px" alt="Claude Monet portrait painting"/>
        </div>
      </div>
      <div class="layer gallery_layer_top">
        <div class="gallery_modal">
          <img class="img_gallery_modal scroll_link" src="/img/landing/gallery/gallery_modal.png" width="272px" alt="Claude Monet landscape painting"/>
        </div>
      </div>
    </div>

  </div>
</div>
