<div class="project gallery" id="gallery" style="display: block">
  <div class="project_bg gallery_bg"></div> 
  <div class="project_main gallery_main">
    <div class="gallery_imgs">
      <div class="gallery_portrait">
        <a href="http://owlsketch.com/gallery">
          <img src="/img/13.jpg" width="288px"/>
        </a>
      </div>
      <div class="gallery_portrait">
        <a href="http://owlsketch.com/gallery">
          <img src="/img/16.jpg" width="172px"/>
        </a>
      </div>
      <div class="gallery_modal">
        <a href="http://owlsketch.com/gallery">
          <img src="/img/gallery_modal.png" width="272px"/>
        </a>
      </div>
      <div class="gallery_portrait">
        <a href="http://owlsketch.com/gallery">
          <img src="/img/18.jpg" width="172px"/>
        </a>
      </div>
      <div class="gallery_portrait">
        <a href="http://owlsketch.com/gallery">
          <img src="/img/9.jpg" width="288px"/>
        </a>
      </div>
    </div>
    <div class="project_title_container">
      <div class="project_title">
        <a href="http://owlsketch.com/gallery">
          <p class="gallery_title">GALLERY</p>
        </a>
      </div>
    </div>
  </div>
</div>
