<div class="project pixel active" id="pixel">
  <div class="project_bg pixel_bg"></div> 
  <div class="project_main pixel_main">
    <div class="pixel_imgs">
      <!--
      <a href="https://github.com/RutgersUniversityVirtualWorlds/pixelserver/releases/tag/v1.0">
        <img class="img_pixel_wall" width="610px" src="/img/pixelwall.png"/>
      </a>
      -->
      <a href="https://github.com/RutgersUniversityVirtualWorlds/pixelserver/releases/tag/v1.0">
        <!--
        <img class="img_pixel_wall pixel_layer" width="610px" src="/img/transparent_pixel_wall.png"/>
        <img class="img_pixel_wall_jpg pixel_layer" width="491px" src="/img/visible_pixel_wall.jpg"/>
        ->
      </a>
    </div>
    <div class="project_title_rel">
      <div class="project_title pixel_title"> 
        <a href="https://github.com/RutgersUniversityVirtualWorlds/pixelserver/releases/tag/v1.0">
          <p>PIXEL WALL</p> 
        </a>
      </div>
    </div>
  </div>
</div>
