<div class="project pixel active" id="pixel">
  <div class="project_bg pixel_bg">
    <div class="project_flat_bg pixel_flat_bg"></div>
  </div> 
  <div class="project_main pixel_main">
    <div class="project_title pixel_title"> 
      <a href="https://github.com/owlsketch/pixelwall">
        <p>PIXEL WALL</p> 
      </a>
    </div>
    <div class="project_img pixel_imgs">
      <a href="https://github.com/owlsketch/pixelwall">
        <img class="img_pixel_wall" width="600px" src="/img/pixelwall.png"/>
      </a>
    </div>
  </div>
</div>
