<div class="project pixel active" id="pixel" style="display: block">
  <div class="project_bg pixel_bg"></div> 
  <div class="pixel_main">
    <div class="pixel_images">
      <a href="https://github.com/RutgersUniversityVirtualWorlds/pixelserver/releases/tag/v1.0">
        <img width="610px" src="/img/pixelwall.png"/>
      </a>
      <a href="https://github.com/RutgersUniversityVirtualWorlds/pixelserver/releases/tag/v1.0">
        <img width="150px" src="/img/pixelPhone.png"/>
      </a>
    </div>
    <div class="pixel_title"> 
      <a href="https://github.com/RutgersUniversityVirtualWorlds/pixelserver/releases/tag/v1.0">
        <p class="project_title">PIXEL WALL</p> 
      </a>
    </div>
  </div>
</div>
