<div class="project pixel active" id="pixel">
  <div class="project_bg pixel_bg">
    <div class="project_flat_bg pixel_flat_bg"></div>
  </div> 
  <div class="project_scroll pixel_scroll">
    <div class="project_scroll_title pixel_scroll_title">
      <p>PIXEL WALL</p> 
    </div>
  </div>
  <div class="project_main pixel_main">

    <div class="project_title pixel_title"> 
      <p>PIXEL WALL</p> 
    </div>

    <div class="project_img pixel_imgs">
      <img class="img_pixel_wall" width="525px" src="/img/pixelwall.png"/>
    </div>

  </div>
</div>
