<footer>
  <div class="footer_sections">
    <div class="pink_section"></div>
    <div class="mango_section"></div>
  </div> 
  <div class="footer_wrapper">
    <div class="footer_content">
      <p>2018, Gibran Garcia.</p>
      <span class="icon_list">
        <a href="https://github.com/owlsketch">
         <img width="20px" src="/img/github_icon.svg" alt="github"/>
        </a>
        <a href="https://twitter.com/owlsketch">
          <img width="20px" src="/img/twitter_icon.svg" alt="twitter"/>
        </a>
        <a href="https://www.instagram.com/airbag_racing/">
          <img width="20px" src="/img/instagram_icon.svg" alt="instagram"/>
        </a>
      </span>
    </div>
  </div>
</footer>
