<footer>
  <a href="https://github.com/owlsketch"><i class="fa fa-github fa-lg"></i></a>
  <a href="https://www.behance.net/satimidusebb6"><i class="fa fa-behance fa-lg"></i></a>
  <a href="https://www.instagram.com/airbag_racing/"><i class="fa fa-instagram fa-lg"></i></a>
</footer>

<script src="/vendor.bundle.js"></script>
<script src="/main.bundle.js"></script>
