<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"></meta>

<link rel="icon" type="image/png" href="/img/favicon/activeFavicon.png">
<title>Gibr&aacute;n Garc&iacute;a - Owlsketch - Portfolio</title>

<link rel="stylesheet" type="text/css" href="/main.bundle.css" media="screen"/>

<script src="https://use.fontawesome.com/39ddb2bf02.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800i|Source+Sans+Pro" rel="stylesheet">
