<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"></meta>

<title>Gibran Garcia - Portfolio</title>

<link rel="stylesheet" href="https://use.typekit.net/cjs2zzs.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="/main.bundle.css" media="screen"/>

