<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"></meta>

<title>Gibran Garcia - Portfolio</title>

<link rel="stylesheet" href="https://use.typekit.net/cjs2zzs.css">
<link rel="stylesheet" type="text/css" href="/main.bundle.css" media="screen"/>

