<div class="nav_layer">
  <div class="logo">
    <a href="/"> 
      <div class="logo_corner"></div>
      <div class="logo_wrapper">
        <p class="logo_text">OWLSKETCH</p>
      </div>
    </a>
  </div>
  <div class="menu"> 
    <a href="/projects">projects</a>
    <a href="/about">about</a>
  </div>
  <div class="social">
    <section class="links">
      <a href="https://github.com/owlsketch"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/airbag_racing"><i class="fab fa-instagram"></i></a>
    </section>
  </div>
  <div class="cheryl">
    <p>Made with love by Gibran Garcia</p>
  </div>
</div>
