<div class="nav_layer">
  <div class="logo">
    <a href="/"> 
      <div class="logo_corner"></div>
      <div class="logo_wrapper">
        <p class="logo_text">OWLSKETCH</p>
      </div>
    </a>
  </div>
  <div class="menu"> 
    <a href="/">projects</a>
    <a href="/about">about</a>
  </div>
  <div class="social">
    <section class="links">
      <a href="https://github.com/owlsketch">
        <img class="github_icon" id="github_icon" width="22px" src="/img/github_icon.svg"/>
      </a>
      <a href="https://www.instagram.com/airbag_racing">
        <img id="instagram_icon" width="21px" src="/img/instagram_icon.svg"/>
      </a>
    </section>
  </div>
  <div class="cheryl">
    <p>Made with love by Gibran Garcia</p>
  </div>
</div>
