<div class="proj_article gallery_article gallery">
  <div class="proj_description">
    <p>
      Gallery is an interactive 3D art gallery on the web. 
      Its goal is to allow visitors to experience art on the internet in an 
      immersive and approachable manner without the need of expensive VR equipment.
    </p>
  </div>
  <div class="proj_links">
    <a href="https://owlsketch.com/gallery">Visit Gallery</a>
    <a href="https://github.com/owlsketch/gallery">View Code</a>
  </div>
  <div class="gallery_article_image">
    <img class="gallery_img_claude_angle" width="1000px" src="/img/article/gallery/ClaudeAngle.jpg"/>
  </div>
  <div class="gallery_article_image">
    <div class="gallery_img_flex">
      <img width="460px" src="/img/article/gallery/ClaudeGroup.jpg"/>
      <img width="460px" src="/img/article/gallery/ClaudeTitle.jpg"/> 
    </div>
  </div>
</div>
