<div class="proj_article pixel_article pixel">
  <div class="proj_description pixel_description">
    <p>
      Made for GRID, the Pixel Wall is an interactive LED Display designed 
      to welcome students to a space that both promotes participation with 
      technology and provides resources for students to learn and create.   
    </p>
  </div>
  <div class="proj_links">
    <a href="http://owlsketch.com/pixel1">Visit Pixel Wall</a>
    <a href="https://github.com/RutgersGRID/pixelwall">View Code</a>
  </div>
</div>
