<div class="proj_article pixel_article pixel">
  <div class="proj_description pixel_description">
    <p>
      Made for GRID, the Pixel Wall is an interactive LED Display designed 
      to welcome students to a space that both promotes participation with 
      technology and provides resources for students to learn and create.   
    </p>
  </div>
  <div class="proj_links">
    <a href="https://owlsketch.com/pixel1">Visit Pixel Wall</a>
    <a href="https://github.com/RutgersGRID/pixelwall">View Code</a>
  </div>
  <div class="pixel_mobile_imgs">
    <img class="pixel_portrait1" width="244px" src="/img/article/pixel/mob_portrait1.PNG"/>
    <img class="pixel_portrait2" width="244px" src="/img/article/pixel/mob_portrait2.png"/>
    <img class="pixel_landscape1" width="500px" src="/img/article/pixel/mob_landscape1.PNG"/>
    <img class="pixel_landscape2" width="500px" src="/img/article/pixel/mob_landscape2.PNG"/>
  </div>
</div>
