@import '../../assets/colors';

.nav_layer {
  z-index: 3;
  position: absolute;
  width: calc(100% - 6vh);

  display: flex;
  justify-content: space-between;
  pointer-events: none;
  * { pointer-events: auto; }
}

// in projects, don't want nav encapsulated within landing content
.separate {
  top: 3vh;
  left: 3vh;
}

.logo { 
  display: inline-block;
  margin: 1.5em 0em 0em 1.5em;
}

.menu {
  margin: 2em 2.125em 0em 0em;
  width: 8em;

  display: flex;
  justify-content: space-between;
  a { color: $white; }
}

@media (max-width: 31.25em) {
  .menu {
    margin: 2.25em 1.5em 0em 0em;
    width: 8.5em;
  }
}
