<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" href="/about.bundle.css" media="screen"/>
</head>
<body>
<div class="about_landing_wrapper">
  <section class="about_landing">
    <% include ../partials/navigation %>
    <div class="about_content">
      <section class="description">
        <img width="285" src="/img/about/titletext.png"/>
        <img width="120" src="/img/about/owlsketch.png"/>
        <p>
          Hello! My name is Gibran Garcia.
          I like the idea of being able to wake
          up, decide that there is something 
          missing in the world, and having the 
          skills to make it a reality.
        </p>
        <p>
          In 2017 I finished a degree in 
          Computer Science at Rutgers 
          University. Now I'm working with
          <a href="https://onlinelearning.rutgers.edu/grid">
            GRID - Game Research and Immersive Design -
          </a> on their Pixel Wall project. 
          Check out my 
          <a href="/img/about/GibranGarciaResume.pdf#zoom=100&view=Fit">
            resume
          </a>
          if you’d like to know more.
        </p>
        <p>
          In my free time you can find 
          me <a href="https://www.instagram.com/airbag_racing/">skateboarding</a> or 
          taking <a href="https://www.instagram.com/airbag_racing/">photos</a>.
        </p>
        <p>
          Want to say hello? Get in touch at:
          <a href="mailto:os.ggarcia16@gmail.com">
            os.ggarcia16@gmail.com
          </a>
        </p>
      </section>
      <section class="images">
        <!--<img class="profile" width="400" src="/img/about/profile.jpg"/> -->
      </section>
    </div>
  </section>
</div>
  <script src="/main.bundle.js"></script>
  <script src="/about.bundle.js"></script>
</body>
</html>
