<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <% include ../partials/menu %>
    <article>
        <div id="header">
            <h2 id="logo">
                <em id="logo__text">OWL SKETCH</em>
            </h2>
        </div>
    <div id="about__content">
        <h3> owlsketch </h3>
        <h3> Gibr&aacute;n Garc&iacute;a </h3>
        <h3> Creative Programmer </h3>

        <p>
            Just some guy skating around Manhattan, raising more questions
            than answers, and set on making the world just a little
            more intriguing/terrifying; one project at a time.
        </p>

        <p> Let's make something great together! </p>
        <br>
        <p>
            I'm passionate about making ideas into reality, and do so
            through web-centric programming and design, yet unafraid
            of adding hardware to the mix. If you're interested, or have a project
            in mind, send me a message or check out my resume.
        </p>
        <br>
    </div>
    <div id="contact__content">
        <ul>
            <!-- should create forms for these so they can be done from my website -->
            <li><a href="#"><i class="fa fa-envelope-o fa-fw fa-lg"></i> satimidus@gmail.com</a></li>
            <li><a href="#"><i class="fa fa-twitter fa-fw fa-lg"></i> @owlsketch</a></li>
        </ul>
        <br>
    </div>
    <div id="resume__content">
        <!-- Should just hold .png of resume and options to download pdf -->
    </div>
    <div id="etc__content">
        <ul>
            <li><a href="#">Photography</a></li>
            <li><a href="#">Skateboarding</a></li>
            <li><a href="#">Sketches</a></li>
        </ul>
    </div>
    </article>
    <% include ../partials/footer %>
    <script src="/setup.bundle.js"></script>
</body>
</html>
