<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" href="/about.bundle.css" media="screen"/>
</head>
<body>
  <% include ../partials/navigation %>
  <script src="/main.bundle.js"></script>
  <script src="/about.bundle.js"></script>
</body>
</html>
