<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" href="/index.bundle.css" media="screen"/>
</head>
<body>
  <script src="/main.bundle.js"></script>
  <script src="/index.bundle.js"></script>
</body>
</html>
