<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" href="/projects.bundle.css" media="screen"/>
</head>
<body>
  <section class="landing">
    <% include ../partials/navigation %>
    <div class="landing_content">

      <div class="proj_nav_layer">
        <div class="proj_arrows">
          <img width="46px" class="arrow left_arrow" id="prev" src="/img/arrow.svg"/>
          <img width="46px" class="arrow right_arrow" id="next" src="/img/arrow.svg"/>
        </div>
      </div>

      <div class="projects" id="projects_container">
        <% try { %>
          <%- include('../partials/projects/' + project) %>
        <% } catch (e) { %>
          <% include ../partials/projects/project-404-error %>
        <% } %>    
      </div>

    </div>
  </section>
  <section class="proj_article">
    <article class="article_content">

      <div class="proj_description">
        <p>
          Gallery is an interactive 3D art gallery on the web. 
          Its goal is to allow visitors to experience art on the internet in an 
          immersive and approachable manner without the need of expensive VR equipment.
        </p>
      </div>
      <div class="proj_links">
        <a href="http://owlsketch.com/gallery">Visit Gallery</a>
        <a href="https://github.com/owlsketch/gallery">View Code</a>
      </div>

    </article>
  </section>
  <script src="/main.bundle.js"></script>
  <script src="/projects.bundle.js"></script>
</body>
</html>
