<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" href="/projects.bundle.css" media="screen"/>
</head>
<body>
  <section class="landing">
    <% include ../partials/navigation %>
    <div class="landing_content">

      <div class="proj_nav_layer">
        <div class="proj_arrows" id="proj_arrows">
          <img width="46px" class="arrow left_arrow" id="prev" src="/img/landing/arrow.svg" alt="left arrow"/>
          <img width="46px" class="arrow right_arrow" id="next" src="/img/landing/arrow.svg" alt="right arrow"/>
        </div>
      </div>

      <div class="projects" id="projects_container">
        <% try { %>
          <%- include('../partials/projects/' + project) %>
        <% } catch (e) { %>
          <% include ../partials/projects/project-404-error %>
        <% } %>    
      </div>

    </div>
  </section>
  <section class="proj_articles">
    <div class="articles_container" id="articles_container">
      <% try { %>
        <%- include('../partials/articles/' + project) %>
      <% } catch (e) { %>
        <% include ../partials/articles/project-404-error %>
      <% } %>    
    </div>
  </section>
  <% include ../partials/footer %>
  <script src="/main.bundle.js"></script>
  <script src="/projects.bundle.js"></script>
</body>
</html>
