<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" href="/projects.bundle.css" media="screen"/>
</head>
<body>
  <section class="landing">
    <% include ../partials/navigation %>
    <div class="content">

      <div class="proj_nav_layer">
        <div class="proj_arrows">
          <img width="46px" class="left_arrow" id="prev" src="/img/arrow.svg"/>
          <img width="46px" class="right_arrow" id="next" src="/img/arrow.svg"/>
        </div>
      </div>

      <div class="projects" id="projects_container">
        <% try { %>
          <%- include('../partials/projects/' + project) %>
        <% } catch (e) { %>
          <% include ../partials/projects/project-404-error %>
        <% } %>    
      </div>

    </div>
  </section>
  <script src="/main.bundle.js"></script>
  <script src="/projects.bundle.js"></script>
</body>
</html>
