<!DOCTYPE html>
<html>
<head>
		<% include ../partials/head %>
</head>
<body>
	<% include ../partials/menu %>
  <article>
    <div id="header">
      <h2 id="logo">
        <em id="logo__text">OWL SKETCH</em>
      </h2>
    </div>
  </article>
  <% include ../partials/footer %>
	<script src="/setup.bundle.js"></script>
</body>
</html>
