<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" href="/projects.bundle.css" media="screen"/>
</head>
<body>
  <% include ../partials/navigation %>
  <div class="content">

    <div class="proj_nav_layer">
      <div class="proj_arrows">
        <img width="52px" class="left_arrow" id="prev" src="/img/arrow.svg"/>
        <img width="52px" class="right_arrow" id="next" src="/img/arrow.svg"/>
      </div>
      <div class="proj_list">

      </div>
    </div>

    <div class="projects" id="projects_container">

      <div class="project pixel_wrapper active">
        <div class="project_bg pixel_bg"></div> 
        <div class="pixel">
          <p class="project_title pixel_title">PIXEL</p> 
          <p class="project_title pixel_title">WALL</p>
        </div>
      </div>

      <div class="project gallery_wrapper inactive">
        <div class="project_bg gallery_bg"></div> 
        <div class="gallery">
          <div class="gallery_frame">
            <div class="gallery_frame_bg">
              <img src="/img/galleryTitleCard.jpg" width="614px"/>
            </div>
          </div>
          <p class="project_title gallery_title">GALLERY</p>
        </div>
      </div>

    </div>

  </div>
  <script src="/main.bundle.js"></script>
  <script src="/projects.bundle.js"></script>
</body>
</html>
