.project_img {
  position: fixed;
}

.project_img_absolute {
  position: absolute;
  top: 50vh;
}

  .pixel_imgs {
    transform: translate(-50%, -50%);
  }

.img_pixel_wall { width: 32.8125em; }

.gallery_portrait {
  display: inline-block;
  img {
    box-shadow: 0em .4em .4em .125em rgba(124, 124, 124, .5); 
  }
}

//take layers out of flow, center them
.layer {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .gallery_layer_bottom { 
    z-index: 0; 
    width: 53.75em;
  }
  .gallery_layer_middle { 
    z-index: 1; 
    width: 28.675em;
  }
  .gallery_layer_top { 
    z-index: 2; 
  }

.img_gallery_landscape { width: 18em; }
.img_gallery_portrait { width: 10.75em; }
.img_gallery_modal { width: 17em; }
