/* all.css is styling that will be applied to all the pages
*  regardless of mobile or desktop presentation.
			<div class="bottomInfo">
*/

html {
	font-size: 14px;
}

h1, h2, h3, h4 {
	font-family: 'Open Sans', arial;
	font-weight: 700;
}

html, body, h1, h2, h3, h4, p {
	color: #20232c;
}

a:link {
	color: #2ecc71;
}

a:visited {
	color: #1cb35b;
}

a:hover {
	background-color: #2ecc71;
	color: #fff;
}

a:active {
	background-color: #2cc36b;
	color: #fff;
}

p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	font-family: 'Cutive Mono', serif;
	font-weight: 400;
	font-size: 13px;
	color: #363946;
}

.horizDiv {
	height: 1em;
	width: 80%;
	background: url(../img/divstripes.gif);
	background-repeat: repeat;
	margin: auto;
	margin-top: 3.5em;
	margin-bottom: 3.5em;
}
	
#lowerLayer {
	z-index: 1;
	position: fixed;
}

#topLayer {
	z-index: 2;
	position: static;
}

#title {
	letter-spacing: -.05em;
	margin-top: -.15em;
	margin-bottom: -.1em;
}

#subtitle {
	padding-left: .125em;
	font-weight: 600;
	padding-top: .4em;
	padding-bottom: .4em;
	background-color: #20232c;
	color: #ffffff;
}


@media all and (max-width: 599px)	{
	#title {
		font-size: 3.25em;
	}

	#subtitle {
		font-size: 1.125em;
	}

	#sideContent {
		margin: auto;
		max-width: 22em;
	}

		#sideContent p {
			max-width: 22em;
		}

			.right {
				text-align: right;
				margin-left: auto;
				margin-right: 0px;
			}
}

@media all and (min-width: 600px)	{
	body {
		background-image: url(../img/pattern.png);
		background-repeat: repeat;
	}

	nav {
		position: fixed;
	}

	#title {
		font-size: 3.25em;
	}

	#subtitle {
		font-size: 1.125em;
		display: inline-block;
		padding: .25em;
	}

	#sideContent {
		margin-left: .5em;
		max-width: 20em;
	}
}

