article {
	margin-bottom: 3em;
}

#main img {
	vertical-align: middle;
}

.bottomInfo {
	width: 100%;
}

#main h2 {
	background-color: #20232c;
	color: #fff;
	margin-bottom: 1em;
	padding: .5em;
	display: inline-block;
	width: 50%;
	text-align: center;
}

.projectLink {
	margin: 0;
	padding-left: 1em;
	display: inline-block;
	text-align: center;
}


@media all and (min-width: 500px)	{
	#main {
		float: right;
		max-width: 400px;
		margin-top: 3em;
		margin-left: 380px;
		margin-right: 50px;
	}
}
