.across_title { top: -1em; }

.across_title p { 
  font-size: 13.75em;
  line-height: 1.75em;
  width: 5em;
}

.across_title_scrolled { top: 23vh; }

.across_title_scrolled p {
  font-size: 10.25em;
  white-space: nowrap;
}
