@import '../../assets/colors';

.proj_article { 
  position: relative;
  margin: 12.5em auto 0em;
  max-width: 52em;
  width: 75vw;
}

.article_title {
  font-size: 3em;
  text-align: center;
  margin-bottom: .5em;
}

.article_content {
  max-width: 46em;
  margin: 2.5em auto 0em;
  a {
    color: $black;
    text-decoration: underline;
  }
  p {
    color: $black;
    font-size: 1.125em;
    margin-bottom: 1em;
    line-height: 1.2em;
  }
  .subtext {
    font-size: 0.875em;
    color: $subtext;
    margin-top: .5em;
  }
  .article_quote {
    font-size: 1.625em;
    font-weight: 700;
    text-align: center;
    line-height: 1.125em;
    margin: 1.5em 2em;
  }
}

.article_img {
  max-width: 36em;
  margin: 2em auto;
  img {
    width: 100%;
    box-shadow: 0em 0.125em 0.25em 0.0625em rgba(124, 124, 124, 0.5);
  }
}

.article_video {
  max-width: 36em;
  margin: 2em auto;
}

.endmark {
  width: 3em;
  margin: 4em auto 5em;
}

@media (max-width: 650px) {
  .proj_article { width: 85vw; }
  .article_content .article_quote { margin: 1.25em .75em; }
}
