@import '../../assets/colors';

@import './gallery.landing.scss';
@import './across.landing.scss';
@import './pixel.landing.scss';

.landing {
  position: relative;
  box-sizing: border-box;
  border: solid 3vh $white;
  width: 100%;
  height: 100vh;
  background-color: $mango; 
}

.project {
  //project is centered on the page, spans entire frame within white border
  //absolute removes hidden projects from affecting height of page
  position: absolute;
  width: 100%;
  height: 94vh; //subtract 6 for white border
}

//background covers entire project landing section
.project_bg {
  width: 100%;
  height: 94vh;
}

  
  @mixin linear-gradient($color-1, $color-2) {
    background: nth(nth($color-1, 1), 1);
    background : linear-gradient(0deg, $color-1, $color-2);
    background : -moz-linear-gradient(50% 100% 90deg, $color-1, $color-2);
    background : -webkit-linear-gradient(90deg, $color-1, $color-2);
    background : -o-linear-gradient(90deg, $color-1, $color-2);
    background : -ms-linear-gradient(90deg, $color-1, $color-2);
  }

  .gallery_bg { @include linear-gradient(rgba(255, 196, 77, 1) 0%, rgba(255, 220, 110, 1) 91.29%); }
  .across_bg { @include linear-gradient(rgba(79, 79, 150, 1) 0%, rgba(84, 84, 160, 1) 100%); }
  .pixel_bg { @include linear-gradient(rgba(255, 89, 141, 1) 0%, rgba(241, 114, 127, 1) 100%); }


.project_flat_bg {
  width: 100%;
  height: 94vh;
  opacity: 0;
}

  .gallery_flat_bg { background: rgba(255, 220, 110, 1); }
  .across_flat_bg { background: rgba(84, 84, 160, 1); }
  .pixel_flat_bg { background: rgba(255, 89, 141, 1); }

//top-left corner of project content is centered
//content itself is then later translated to be in correct pos
.project_main {
  position: absolute;
  top: 50%;
  left: 50%;
}

.project_title {
  position: absolute;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.project_title p {
  font-family: 'futura-pt', sans-serif;
  font-weight: 700;
  text-align: center;
  color: $white;
}

.scroll_link {
  font-family: 'futura-pt', sans-serif;
  cursor: pointer;
}

/* 4 divisions on height. [0]: Above 728, [1]: above 640, [2]: above 480, [3]: above 0
/* 1 dimmensional array: [0]: default as defined above */
/* [1]: */
@media (max-height: 728px) {
  .project_main { font-size: .875em; }
}
/* [2]: */
@media (max-height: 640px) {
  .project_main { font-size: .675em; }
}
/* [3]: */
@media (max-height: 480px) {
  .project_main { font-size: .5em; }
}

/* 2 dimmensional array: 4 height divisions, second inner array detailing width divisions for each */
@media (min-height: 728px) and (max-width: 1275px), /* [0][0] */
(max-height: 728px) and (min-height: 640px) and (max-width: 1060px), /* [1][0] */
(max-height: 640px) and (min-height: 480px) and (max-width: 810px), /* [2][0] */
(max-height: 480px) and (max-width: 740px) { /* [3][0] */
  .gallery_title p { 
    font-size: 14.5em; 
    line-height: 1.5em;
  }
  .across_title p { 
    font-size: 13em; 
    line-height: 1.75em;
  }
  .pixel_title p { 
    font-size: 14.5em; 
    line-height: 1.55em;
  }
}

@media (min-height: 728px) and (max-width: 1100px), /* [0][1] */
(max-height: 728px) and (min-height: 640px) and (max-width: 940px), /* [1][1] */
(max-height: 640px) and (min-height: 480px) and (max-width: 700px), /* [2][1] */
(max-height: 480px) and (max-width: 620px) { /* [3][1] */
  .gallery_title p { 
    font-size: 12.5em; 
    line-height: 1.875em;
  }
  .across_title p { 
    font-size: 10.925em; 
    line-height: 2.125em;
  }
  .pixel_title p { 
    font-size: 12.5em; 
    line-height: 1.95em;
  }
}

@media (min-height: 728px) and (max-width: 900px), /* [0][2] */
(max-height: 728px) and (min-height: 640px) and (max-width: 800px), /* [1][2] */
(max-height: 640px) and (min-height: 480px) and (max-width: 600px), /* [2][2] */
(max-height: 480px) and (max-width: 400px) { /* [3][2] */
  .gallery_title { top: 0em; }
  .gallery_title  p { 
    font-size: 10.5em; 
    line-height: 2.35em;
  }
  .across_title { top: 0em; }
  .across_title  p { 
    font-size: 8em; 
    line-height: 2.375em;
  }
  .pixel_title { top: 0em; }
  .pixel_title  p { 
    font-size: 10.5em; 
    line-height: 2.25em;
  }
}

@media (min-height: 728px) and (max-width: 700px), /* [0][3] */
(max-height: 728px) and (min-height: 640px) and (max-width: 680px), /* [1][3] */
(max-height: 640px) and (min-height: 480px) and (max-width: 420px) { /* [2][3] */
  .gallery_title p { 
    font-size: 9em; 
    line-height: 2.65em;
  }
  .across_title p { 
    font-size: 7.25em; 
    line-height: 2.5em;
  }
  .pixel_title p { 
    font-size: 9em; 
    line-height: 2.45em;
  }
}


@media (min-height: 728px) and (max-width: 620px), /* [0][4] */
(max-height: 728px) and (min-height: 640px) and (max-width: 560px) { /* [1][4] */
  .gallery_title p { 
    font-size: 8em; 
    line-height: 2.9em;
  }
  .across_title p { 
    font-size: 6.25em; 
    line-height: 2.5em;
  }
  .pixel_title p { 
    font-size: 8em; 
    line-height: 2.35em;
  }
}

@media (min-height: 728px) and (max-width: 520px), /* [0][5] */
(max-height: 728px) and (min-height: 640px) and (max-width: 460px), /* [1][5] */
(max-height: 640px) and (min-height: 480px) and (max-width: 370px) { /* [2][4] */
  .gallery_title p { 
    font-size: 7.5em; 
    line-height: 3.125em;
  }
  .across_title p { 
    font-size: 5.5em; 
    line-height: 3.125em;
  }
  .pixel_title p { 
    font-size: 7.5em; 
    line-height: 3em;
  }
}

@media (min-height: 728px) and (max-width: 440px), /* [0][6] */
(max-height: 728px) and (min-height: 640px) and (max-width: 420px) { /* [1][6] */
  .gallery_main { font-size: .75em; }
  .across_main { font-size: .75em; }
  .pixel_main { font-size: .75em; }

  .gallery_title p { line-height: 3.8em; }
  .across_title p { line-height: 3.8em; }
  .pixel_title p { line-height: 3.75em; }
}

